body {
  width: 500px;
  color: #333;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

.tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #ededec;
  position: relative;
}

.tab::before {
  content: '';
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #007bff;
  transition: left 0.3s ease-in-out;
}

.tab:has(> [aria-selected='true']:first-child)::before {
  left: 0;
}

.tab:has(> [aria-selected='true']:last-child)::before {
  left: 50%;
}

.tab-link {
  padding: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

.tab-link[aria-selected='true'] {
  font-weight: bold;
}

.content {
  padding: 10px 5px;
}

#task-list {
  max-height: 500px;
  overflow: auto;
}

input[type='text'] {
  width: 100%;
  padding: 5px;
  line-height: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  background: rgba(242, 241, 238, 0.6);
}

[data-type] {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
}

[data-type]:hover {
  background-color: #0056b3;
}

[data-type='delete'] {
  background-color: #dc3545;
}

[data-type='delete']:hover {
  background-color: #c82333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.name {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.tag {
  padding: 2px 8px;
  white-space: nowrap;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

[data-group] {
  background-color: rgb(227, 226, 224);
}

[data-group='AG1-1'] {
  background-color: rgb(211, 229, 239);
}

[data-group='AC2-1'] {
  background-color: rgb(219, 237, 219);
}

[data-group='AC2-EC'] {
  background-color: rgb(232, 222, 238);
}

[data-group='AC1-1'] {
  background-color: rgb(245, 224, 233);
}

[data-group='AG2-1'] {
  background-color: rgb(251, 237, 214);
}

[data-group='IN-HOUSE'] {
  background-color: rgb(251, 236, 221);
}

.task {
  display: grid;
  grid-template-columns: 70px 1fr auto;
  gap: 5px;
  padding: 5px;
  border-bottom: 1px solid #ededec;
  position: relative;
}

.task__buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

label {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  padding: 2px 5px;
}

.radio-list > * + * {
  margin-top: 5px;
}

.other {
  border: 0;
  background: transparent;
  cursor: pointer;
  height: 28px;
  width: 28px;
  border-radius: 4px;
}

.other:hover {
  background-color: rgba(55, 53, 47, 0.06);
}

.popup {
  background-color: #fff;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  transition: opacity 0.3s;
  z-index: 1;
}

.popup[aria-hidden='true'] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.popup[aria-hidden='false'] {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.popup button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
  padding: 2px 5px;
  text-align: left;
}

.popup button:hover {
  background-color: rgba(55, 53, 47, 0.06);
}

.popup img {
  width: 15px;
}

.delete {
  color: #dc3545;
}
