.ticket__key-copy {
  top: 0 !important;
  bottom: 0;
}
.to-calender {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  font-size: 13px;
  border-left: var(--borderColorDefault) 1px solid;
  padding-left: 20px;
  margin-bottom: 12px;
}
.to-calender-select {
  position: relative;
}
.to-calender-select::after {
  position: absolute;
  top: 6px;
  right: 11px;
  bottom: 0;
  margin: auto;
  content: '';
  height: 0;
  width: 13px;
  border: 6px solid transparent;
  border-top: 7px solid var(--iconColorDefault);
  background: 0 0;
  border-radius: 3px;
  forced-color-adjust: none;
  pointer-events: none;
}
.to-calender-select__inner {
  appearance: none;
  background-color: var(--backgroundColorSchemeBase);
  border: solid 1px var(--borderColorPrimary);
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  border-radius: 4px;
  padding: 5px 20px 4px 11px;
  line-height: 3rem;
  cursor: pointer;
  height: 32px;
  line-height: 1.3;
}

.to-calender-select__inner:focus {
  outline: 0;
  border: solid 1px var(--defaultColorLink);
  background-color: var(--backgroundColorHover);
  box-shadow: 0 0 3px var(--defaultColorLink);
}

.to-calender-button {
  width: auto;
  border-radius: 20px;
  padding-right: 11px;
  padding-left: 11px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  background-color: var(--backgroundColorSchemeBase);
  border: solid 1px var(--borderColorPrimary);
  transition-property: background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  height: 32px;
  white-space: nowrap;
}
.to-calender-button:hover {
  background-color: var(--defaultColorAccent);
  border-color: var(--defaultColorAccent);
  text-decoration: none;
}

#ui-state-disabledissue .to-calender {
  margin-bottom: 0;
  margin-left: 19px;
}

#ui-state-disabledissue > * {
  font-size: 12px;
  height: 22px;
}

#ui-state-disabledissue.-hidden .to-calender {
  display: none;
}
